body {
    background-image: linear-gradient(to left, rgb(60, 77, 205), rgb(242, 79, 90));
}

section {
    color: aliceblue;
}

h1{
    text-align: center;
        font-weight: normal;
        font-size: 60px;
        font-style: italic;
        text-decoration: rgb(255, 183, 0) underline;
        letter-spacing: 14px;
}

h2{
    color: cornsilk;
    text-align: center;
        font-weight: normal;
        font-size: 30px;
        font-style: italic;
        text-decoration: rgb(25, 25, 198) underline ;
        letter-spacing: 5px;
}

button {
    border: 1px solid;
    font-size: 40px;
    color: white;
    font-family: cursive;
    background-image: linear-gradient(to left, rgb(92, 222, 4), rgb(196, 242, 79));
    min-height: 10rem;
    min-width: 2rem;
    overflow: scroll;
    display: inline-block;
}