
html,
body {
    height: 100vh;
    margin: 0;
    
}
button{
    background color: aqua;
}

.page-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-container {
    margin-top: 3%;
    height: 80%;
    width: 49.44%;
    box-shadow: 0px 0px 73px #eee8e8;

}

.login-txt {
    font-size: 33pt;
    color: chartreuse;
    background: #000000;
    padding: 12px;

    width: 70%;
    text-align: center;
    
}


.form-body {
    padding: 15%;
    display: flex;
    flex-direction: column;
}


input[type="text"],
input[type="password"] {
    padding: 9px;
    border: none;
    /* border-radius: 4px; */
    border: none;
    background: transparent;
    box-shadow: 0 0 2px #1b083d;
    font-family: inherit;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: #673AB7;
    box-shadow: 1px 0px 2px #c61951
}


input[type="button"] {
    background: #1b083d;
    color: #e2e2e2;
    border: none;
    border-radius: 4px;
    font-size: 12pt;
    padding: 12px;
    cursor: pointer;
    box-shadow: 1px 2px 5px #1b1b1b;
}


.forg-pwd {
    color: #1b083d;
    align-self: center;
    padding: 11px;
    font-size: 9pt;
    cursor: pointer;
}

@media (max-width:768px) {
    .login-container {

        width: 80%;

    }

    .login-txt {
        font-size: 24pt;
    }
}