body{
    background-color: #282a36;
}
button{
    background-color: red;
}
header{
  color: white;
}
output{
  background-color: chartreuse;
}
span{
    color:blue;
}
iframe{
    color: cyan;
    background-color: rgb(243, 243, 243);
}
td{
    color:rgb(255, 0, 0);
    background-color: blue;
}
h1{
    color: chartreuse;
}
h2{
    color: rgb(21, 0, 255);
}
h3{
    color: blueviolet;
}