body {
    margin: 0 35px;
    padding: 0;
    display: grid;
    justify-content: center;
}
header {
    max-width: 900px;
    position: relative;
    top: 5rem;
    display: grid;
}
header h1 {
    position: absolute;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}
header .desc {
    position: relative;
    right: 0;
}
.desc p {
    position: absolute;
    width: 350px;
    right: 0;
    top: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    line-height: 27px;
}
.desc h2 {
    position: absolute;
    width: 130px;
    right: 225px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}
.flexContainer {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: 330px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    gap: 50px;
}

.box {
    position: relative;
    width: 295px;
    height: 470px;
}
.box p {
    position: absolute;
    top: 35px;
    left: 13.75rem;
    width: 110px;
}
.position {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transform: rotate(90deg);
}
h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgb(23, 6, 144);
}
h1{
    color:red;
}
img {
    width: 90%;
}

footer p {
    position: relative;
    top: 30rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a9a9a9;
}
@media only screen and (max-width: 1075px) {
    .box:nth-child(2n) {
        top: 80px;
    }
}
@media only screen and (min-width: 1075px) {
    .middle {
        top: 80px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        margin: 0 10px;
    }
    header {
        top: 3rem;
    }
    .box:nth-child(2n) {
        top: 80px;
    }
    .box {
        width: 260px;
    }
    .desc p {
        position: absolute;
        left: 0;
        top: 135px;
        width: 600px;
    }
    .desc h2 {
        position: absolute;
        left: 0;
        top: 110px;
    }
    .box p {
        left: 11.75rem;
    }
}
@media only screen and (max-width: 630px) {
    body {
        margin: 0 10px;
    }
    .box {
        width: 200px;
        height: 283px;
        top: 40px;
    }
    .desc p {
        width: 333px;
        height: 87px;
    }
    .flexContainer {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
    .box p {
        position: absolute;
        left: 8.5rem;
    }
}
@media only screen and (max-width: 420px) {
    body {
        margin: 0 5px;
    }
    .box {
        width: 150px;
        height: 283px;
        top: 40px;
    }
    .desc p {
        width: 333px;
        height: 87px;
    }
    .flexContainer {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
    .box p {
        position: absolute;
        left: 5.5rem;
    }
}